<?xml version="1.0"?>

<config>
    <modules>
        <Dextrous_Saveorder>
            <version>0.1.0</version>
        </Dextrous_Saveorder>
    </modules>
    <admin>
        <routers>
			<saveorder>
				<use>admin</use>
				<args>
					<module>Dextrous_Saveorder</module>
					<frontName>saveorder</frontName>
				</args>
			</saveorder>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<saveorder>
					<file>saveorder.xml</file>
				</saveorder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
		<rewrite>
            <dextrous_saveorder_sales_order_edit>
                <from><![CDATA[#^/admin/sales_order_edit#]]></from>
                <to>/saveorder/sales_order_edit</to>
            </dextrous_saveorder_sales_order_edit>
        </rewrite>
		<blocks>
			<adminhtml>
				<rewrite>
					<sales_order_create>Dextrous_Saveorder_Block_Sales_Order_Create</sales_order_create>
				</rewrite>
			</adminhtml>
		</blocks>
        <models>
            <saveorder>
                <class>Dextrous_Saveorder_Model</class>
                <resourceModel>saveorder_mysql4</resourceModel>
            </saveorder>
            <saveorder_mysql4>
                <class>Dextrous_Saveorder_Model_Mysql4</class>
                <entities>
                    <saveorder>
                        <table>saveorder</table>
                    </saveorder>
                </entities>
            </saveorder_mysql4>
        </models>
        <resources>
            <saveorder_setup>
                <setup>
                    <module>Dextrous_Saveorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </saveorder_setup>
            <saveorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </saveorder_write>
            <saveorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </saveorder_read>
        </resources>
        <blocks>
            <saveorder>
                <class>Dextrous_Saveorder_Block</class>
            </saveorder>
        </blocks>
        <helpers>
            <saveorder>
                <class>Dextrous_Saveorder_Helper</class>
            </saveorder>
        </helpers>
    </global>
</config>